$media-mobile: 767px;
$unsemantic-ie7-support: false;
$container-max-width: 1140px;
$media-mobile-max: 1030px;
$media-desktop-min: 1031px;

@import "compass/css3";
@import "unsemantic/unsemantic-ie-snap";

/*============= */
/* All screens */
/*============= */

@media screen {
	@import "unsemantic/unsemantic-vars";
	.grid-container {
		@extend %grid-container;
	}
	.grid-parent {
		@extend %grid-parent;
	}
	.grid-col-10 {
		@extend %grid-10;
	}
	.grid-col-25 {
		@extend %grid-25;
	}
	.grid-col-33 {
		@extend %grid-33;
	}
	.grid-col-50 {
		@extend %grid-50;
	}
	.grid-col-66 {
		@extend %grid-66;
	}
	.grid-col-75 {
		@extend %grid-75;
	}
	.grid-col-90 {
		@extend %grid-90;
	}
}

/*======================= */
/* "Mobile" screen width */
/*======================= */

@media screen and (max-width: $media-mobile) {
	@import "unsemantic/unsemantic-vars";
	.grid-container {
		max-width: 96%;
	}
	.grid-col-10,
	.grid-col-25,
	.grid-col-33,
	.grid-col-50,
	.grid-col-66,
	.grid-col-75,
	.grid-col-90 {
		@extend %grid-100;
	}
}

/*======================= */
/* "Tablet" screen width */
/*======================= */

@media screen and (max-width: $media-mobile-max) {
	@import "unsemantic/unsemantic-vars";
	.grid-container {
		max-width: 96%;
	}
}

/*======================== */
/* "Desktop" screen width */
/*======================== */

@media screen and (min-width: $media-mobile) {
	/*@import "unsemantic/unsemantic-vars";
	.grid-col-10 {
		@extend %grid-10;
	}
	.grid-col-25 {
		@extend %grid-25;
	}
	.grid-col-33 {
		@extend %grid-33;
	}
	.grid-col-50 {
		@extend %grid-50;
	}
	.grid-col-66 {
		@extend %grid-66;
	}
	.grid-col-75 {
		@extend %grid-75;
	}
	.grid-col-90 {
		@extend %grid-90;
	}*/
}
